-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "prisma_app";

-- CreateTable
CREATE TABLE "prisma_app"."merchants" (
    "id" TEXT NOT NULL,
    "shopDomain" TEXT NOT NULL,
    "ownerEmail" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "installedAt" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "merchants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."shipping_profiles" (
    "id" TEXT NOT NULL,
    "merchantId" TEXT NOT NULL,
    "shopifyProfileId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "shipping_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."profile_rules" (
    "id" TEXT NOT NULL,
    "merchantId" TEXT NOT NULL,
    "shippingProfileId" TEXT NOT NULL,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "matchType" TEXT NOT NULL,
    "operator" TEXT NOT NULL,
    "matchValue" JSONB NOT NULL,
    "isNegation" BOOLEAN NOT NULL DEFAULT false,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "profile_rules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."products" (
    "id" TEXT NOT NULL,
    "merchantId" TEXT NOT NULL,
    "shopifyProductId" TEXT NOT NULL,
    "title" TEXT,
    "vendor" TEXT,
    "bodyHtml" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastSyncedAt" TIMESTAMP(3),

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."product_variants" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "merchantId" TEXT NOT NULL,
    "shopifyVariantId" TEXT NOT NULL,
    "sku" TEXT,
    "price" DECIMAL(12,2),
    "weight" DECIMAL(12,3),
    "inventoryQuantity" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastSyncedAt" TIMESTAMP(3),

    CONSTRAINT "product_variants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."product_collections" (
    "productId" TEXT NOT NULL,
    "collectionId" TEXT NOT NULL,

    CONSTRAINT "product_collections_pkey" PRIMARY KEY ("productId","collectionId")
);

-- CreateTable
CREATE TABLE "prisma_app"."product_tags" (
    "productId" TEXT NOT NULL,
    "tag" TEXT NOT NULL,

    CONSTRAINT "product_tags_pkey" PRIMARY KEY ("productId","tag")
);

-- CreateTable
CREATE TABLE "prisma_app"."product_metafields" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "namespace" TEXT,
    "key" TEXT,
    "value" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "product_metafields_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."product_assignments" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "variantId" TEXT,
    "shippingProfileId" TEXT NOT NULL,
    "reasonRuleId" TEXT,
    "isManualOverride" BOOLEAN NOT NULL DEFAULT false,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "product_assignments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."sync_jobs" (
    "id" TEXT NOT NULL,
    "merchantId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "totalProducts" INTEGER,
    "processedProducts" INTEGER,
    "errorMessage" TEXT,

    CONSTRAINT "sync_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prisma_app"."logs" (
    "id" TEXT NOT NULL,
    "merchantId" TEXT NOT NULL,
    "productId" TEXT,
    "variantId" TEXT,
    "action" TEXT NOT NULL,
    "fromProfileId" TEXT,
    "toProfileId" TEXT,
    "ruleId" TEXT,
    "message" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "merchants_shopDomain_key" ON "prisma_app"."merchants"("shopDomain");

-- CreateIndex
CREATE UNIQUE INDEX "shipping_profiles_merchantId_shopifyProfileId_key" ON "prisma_app"."shipping_profiles"("merchantId", "shopifyProfileId");

-- CreateIndex
CREATE UNIQUE INDEX "products_merchantId_shopifyProductId_key" ON "prisma_app"."products"("merchantId", "shopifyProductId");

-- CreateIndex
CREATE UNIQUE INDEX "product_variants_merchantId_shopifyVariantId_key" ON "prisma_app"."product_variants"("merchantId", "shopifyVariantId");

-- CreateIndex
CREATE UNIQUE INDEX "product_assignments_productId_variantId_key" ON "prisma_app"."product_assignments"("productId", "variantId");

-- AddForeignKey
ALTER TABLE "prisma_app"."shipping_profiles" ADD CONSTRAINT "shipping_profiles_merchantId_fkey" FOREIGN KEY ("merchantId") REFERENCES "prisma_app"."merchants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."profile_rules" ADD CONSTRAINT "profile_rules_merchantId_fkey" FOREIGN KEY ("merchantId") REFERENCES "prisma_app"."merchants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."profile_rules" ADD CONSTRAINT "profile_rules_shippingProfileId_fkey" FOREIGN KEY ("shippingProfileId") REFERENCES "prisma_app"."shipping_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."products" ADD CONSTRAINT "products_merchantId_fkey" FOREIGN KEY ("merchantId") REFERENCES "prisma_app"."merchants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_variants" ADD CONSTRAINT "product_variants_productId_fkey" FOREIGN KEY ("productId") REFERENCES "prisma_app"."products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_variants" ADD CONSTRAINT "product_variants_merchantId_fkey" FOREIGN KEY ("merchantId") REFERENCES "prisma_app"."merchants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_collections" ADD CONSTRAINT "product_collections_productId_fkey" FOREIGN KEY ("productId") REFERENCES "prisma_app"."products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_tags" ADD CONSTRAINT "product_tags_productId_fkey" FOREIGN KEY ("productId") REFERENCES "prisma_app"."products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_metafields" ADD CONSTRAINT "product_metafields_productId_fkey" FOREIGN KEY ("productId") REFERENCES "prisma_app"."products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_assignments" ADD CONSTRAINT "product_assignments_productId_fkey" FOREIGN KEY ("productId") REFERENCES "prisma_app"."products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_assignments" ADD CONSTRAINT "product_assignments_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES "prisma_app"."product_variants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_assignments" ADD CONSTRAINT "product_assignments_shippingProfileId_fkey" FOREIGN KEY ("shippingProfileId") REFERENCES "prisma_app"."shipping_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."product_assignments" ADD CONSTRAINT "product_assignments_reasonRuleId_fkey" FOREIGN KEY ("reasonRuleId") REFERENCES "prisma_app"."profile_rules"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."sync_jobs" ADD CONSTRAINT "sync_jobs_merchantId_fkey" FOREIGN KEY ("merchantId") REFERENCES "prisma_app"."merchants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."logs" ADD CONSTRAINT "logs_merchantId_fkey" FOREIGN KEY ("merchantId") REFERENCES "prisma_app"."merchants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."logs" ADD CONSTRAINT "logs_productId_fkey" FOREIGN KEY ("productId") REFERENCES "prisma_app"."products"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."logs" ADD CONSTRAINT "logs_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES "prisma_app"."product_variants"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."logs" ADD CONSTRAINT "logs_fromProfileId_fkey" FOREIGN KEY ("fromProfileId") REFERENCES "prisma_app"."shipping_profiles"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."logs" ADD CONSTRAINT "logs_toProfileId_fkey" FOREIGN KEY ("toProfileId") REFERENCES "prisma_app"."shipping_profiles"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prisma_app"."logs" ADD CONSTRAINT "logs_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "prisma_app"."profile_rules"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- CreateTable
CREATE TABLE prisma_app."PricingPlan" (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    price NUMERIC(10,2) DEFAULT 0.0,
    currency VARCHAR(10) DEFAULT 'USD',
    interval VARCHAR(20) DEFAULT 'month',
    "isActive" BOOLEAN DEFAULT TRUE,
    "createdAt" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);